[submodule "iDryer v1 prototype"]
    path = iDryer v1 prototype
    url = https://github.com/pavluchenkor/iDryer.git
[submodule "iDryer v2/Firmware"]
    path = iDryer v2/Firmware
    url = https://github.com/pavluchenkor/iDryerController.git
[submodule "iDryerV2/Firmware/MiniCore"]
		path = iDryer v2/Firmware/MiniCore
		url = https://github.com/MCUdude/MiniCore.git